<h1 align="center" class="title">Students</h1>

<br/>

<div class="row" align="center">
  <% @students.each do |student| %>
    <div class="col-md-4">
      <div class="list-group">
        <p class="list-group-item active">
          <b>Name: <%= student.name %></b>
        </p>
        <p class="list-group-item">Email: <%= student.email %></p>
        <p class="list-group-item">Date Registered: <%= student.created_at.to_date %></p>
        <p class="list-group-item">
          <%= link_to 'View Details', student_path(student), class: "btn btn-success btn-sm" %>
        </p>
      </div>
    </div>
  <% end %>
</div>
