<h1 align="center" class="title">Enrollments</h1>

<br/>

<div class="row" align="center">
  <% @student.courses.each do |course| %>
    <div class="col-md-4">
      <div class="list-group">
        <p class="list-group-item active">
          <b>Code: <%= course.short_name %></b>
        </p>
        <p class="list-group-item">Status: <span style="color: #5cb85c;"><b>Registered</b></span></p>
        <p class="list-group-item">Course Name: <%= course.name %></p>
        <p class="list-group-item">Description: <%= course.description %></p>
      </div>
    </div>
  <% end %>
</div>
