<footer>
  <hr width="80%">
  <p id="ft-text">&copy Copyright Tech University 2018 | Created by <%= link_to 'Kurniawan Pratama', 'https://www.linkedin.com/in/kurniawanpputra/', target: '_blank' %></p>
</footer>
